<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Page title -->
	<title>Coffee Machine</title>
	<!-- Page description -->
	<meta name="description" content="">
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon  -->
	<link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
	<!-- Include StyleSheets -->
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- <link rel="stylesheet" href="css/custom.css"> -->
	<script src="/static/js/modernizr.js"></script>
</head>

<body>
	<!--[if lt IE 8]>
	    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Preloader: uncomment this if you want to show a smooth preloader while the page is loading. Don't forget to add the 'js-preload-me' class on the <body> tag. -->
	<!-- <div class="preloader js-preloader"><div class="preloader-animation"></div></div>
 -->
	<!-- End of Preloader -->
	<div class="page js-page login-page">
		<div class="login">
			<div class="login-content">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="login-wrapper">
								<div class="helper center mb20">
									<!-- Logo Image -->
									<a href="#" class="logo-image animated">
										<img src="/static/img/logos/coffee.png" alt="logo">
									</a>
									<!-- End of Logo Image -->
								</div>

								<form action="/app" class="contact-form" method="POST" name="appForm">

									<ul class="contacts-inputs">
										

										<li class="contacts-item">
											<label for="coffee" class="contacts-label">Escolha seu café</label>
											<div>
											    <input type="radio" id="preto"
											     name="coffee" value="1">
											    <label for="preto">&nbsp;&nbsp;&nbsp;<span style="font-weight: 400; color:#000">Preto</span></label>
											    &nbsp;&nbsp;&nbsp;&nbsp;

											    <input type="radio" id="azul"
											     name="coffee" value="2">
											    <label for="azul">&nbsp;&nbsp;&nbsp;<span style="font-weight: 400; color:#2288cc">Azul</span></label>
											    &nbsp;&nbsp;&nbsp;&nbsp;

											    <input type="radio" id="verde"
											     name="coffee" value="3">
											    <label for="verde">&nbsp;&nbsp;&nbsp;<span style="font-weight: 400; color:#16a221">Verde</span></label>
											    &nbsp;&nbsp;&nbsp;&nbsp;
											    
											    <input type="radio" id="marrom"
											     name="coffee" value="4">
											    <label for="marrom">&nbsp;&nbsp;&nbsp;<span style="font-weight: 400; color:#C5950D">Marrom</span></label>
											</div>
										</li>

										<li class="contacts-item helper mt20">
											<label for="full-name" class="contacts-label">Digite seu código</label>
											<input type="password" name="coffeeCode" id="coffeeCode" class="contacts-input form-control"> 
										</li>

									</ul>
									<button class="button green full helper mt20">Cadastrar</button>
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/all.js"></script>
	<script src="/static/js/custom.js"></script>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<!-- 
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
     -->
</body>

</html>