
.coffee-type {
  background-color: #999;
  color: white;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 100px;
  text-align: center;
}

.coffee-type.preto{
	background-color: #444;
  color: #fff;
}

.coffee-type.azul{
	background-color: #2288cc;
  color: #fff;
}

.coffee-type.verde{
	background-color: #16a221;
  color: #fff;
}

.coffee-type.marrom{
	background-color: #C5950D;
  color: #fff;
}



.result-box{
	margin-bottom: 40px;
	padding: 10px;
	font-size: 14px;
}
.result-box .result-title{
	font-size: 20px;
	font-weight: bold;
	color:#333; 
}